QMainWindow {
    background-color: #f0f2f5;
}
QPushButton {
    background-color: #eef2f5;
    border: 1px solid #bcc2ca;
    font-weight: bold;
    font-size: 14px;
    padding: 6px;
    min-width: 60px;
    min-height: 40px;
}
QPushButton#btn-panel{
    background-color: #acbbdc;
}
QLineEdit {
    padding: 8px;
    border: 1px solid #999;
    border-radius: 4px;
    font-size: 15px;
    background-color: white;
}
QTableWidget {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    gridline-color: #eee;
}
QHeaderView::section {
    background-color: #005a9c;
    color: white;
    padding: 8px;
    border: none;
    font-weight: bold;
    font-size: 14px;
}
QFrame#bottomStatus {
    background-color: #f0f2f5;
    border-top: 1px solid #005a9c;
}
QLabel#statusTitle{
    font-size: 20px;
}
QLabel#statusRes{
    font-size: 15px;
    margin-right: 100px;
}
