QMainWindow {
    background-color: #f0f2f5;
}
QPushButton {
    background-color: #eef2f5;
    border: 1px solid #bcc2ca;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
    padding: 6px;
    min-width: 60px;
    min-height: 40px;
}
QPushButton:hover {
    background-color: #dbe4ec;
    border: 1px solid #909aa5;
}
QPushButton:pressed {
    background-color: #c9d2d9;
}
QPushButton#exitBtn {
    background-color: #d9534f;
    color: white;
    border: none;
    font-size: 16px;
    min-height: 40px;
}
QLineEdit {
    padding: 8px;
    border: 1px solid #999;
    border-radius: 4px;
    font-size: 15px;
    background-color: white;
}
QTableWidget {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    gridline-color: #eee;
}
QTableWidget::item {
    padding: 8px;
}
QHeaderView::section {
    background-color: #005a9c;
    color: white;
    padding: 8px;
    border: none;
    font-weight: bold;
    font-size: 1rem;
}
QFrame#topBar {
    background-color: #d1e7f7;
    border-bottom: 2px solid #005a9c;
}
QFrame#bottomStatus {
    background-color: #f0f2f5;
    border-top: 1px solid #005a9c;
}
QLabel#statusTitle{
    font-size: 1rem;
}
QLabel#statusRes{
    font-size: 0.7rem;
    margin-right: 100px;
}
