QDialog{
    background:#0f0f0f;
}
QLabel#msg{
    font-size: 44px;
    color: white;
    padding: 30px 70px 60px 70px;
}
QLabel#lbl_warning{
    padding-top:90px;
    padding-bottom:30px;
}
QPushButton#return{
    background: #3a3a3a;
    color:white;
    border:1px solid #555;
    border-radius:12px;
    font-size:24px;
    min-width:200px;
    padding: 20px;
}
QPushButton#return:hover{
    background: #4a4a4a;
    border-color: #ff8c2a;
}
QPushButton#return:pressed{
    background: #2a2a2a;
    border-color: #ff8c2a;
}